.tolist-center{
    display: flex;
    justify-content: center;
    color: var( --text-data);
}
.totlist-cont{
    min-height: 50vh;
    width: 95%;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns:  .15fr 1fr;
}
.first-cont{
    background-color: var( --all-bg-clr);
    /* background-color: red; */
word-break: break-all;
    min-width: 10rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid var(--border) ;
    box-shadow: -3px 3px   var(  --border);
    padding: .5rem;
    margin: .5rem;

}
.sec-cont{
    width: 100%;
     background-color: var( --all-bg-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputlist{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .edit-position{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

} */
.rem-list{
    position: absolute;
    top: 20px;
    right: 20px;
}

.totallistcont{
    width:50vw ;
    max-width:32rem ;
    min-width: 20rem;
    background-color: var( --all-bg-clr);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .2rem;
    border: 1px solid var(--border) ;
    box-shadow: 1px 1px  0.2rem grey;
}
.title-data{
    /* background-color:turquoise; */
    padding: .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.descrip-cont{
    width: 40vw;
    max-width:30rem ;
    min-height: 2rem;
    margin: .2rem;
    outline: none;
    background-color: var( --all-bg-clr);
    border: 1px solid var(--border) ;
    color:  var(--text-data)  ;
    flex-wrap: wrap;
    border-radius: 2px;
}
.created-list-cont{
    width: 75vw;
   background-color: var( --all-bg-clr);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.list-col{
    /* margin: .8rem 0; */
    padding: .1rem;
background-color:var(  --para-clr);
margin: 1rem;
}
.text-style{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: wheat; */

}
.btn-text{
font-size: 1.1rem;
border: 1px solid var(--border) ;
}
/* .style-cont{
    width: 80%;
background-color: aquamarine;
display: flex;
    justify-content: space-evenly;
} */
.des-text{
    width: 90%;
    max-width:30rem ;
    min-height: 2rem;
    margin: .2rem;
    background-color: var( --all-bg-clr);
    padding: .3rem;
   font-size: 1.2rem;
   border-radius: 2px;
   word-break: break-all;
}
.tit-text{
    width: 90%;
    max-width:30rem ;
    min-height: 2rem;
    margin: .2rem;
    background-color: var( --all-bg-clr);
    padding: .3rem;
    font-size: 1.2rem;
    border-radius: 2px;
    word-break: break-all;
}

